In [2]:
# ================================================================
# JUPYTER NOTEBOOK: Pengolahan Data Calon TNI
# Dibuat oleh: Adam Riski Maulana (15240595)
# Mata Kuliah: Data Sains - Semester 3
# ================================================================

import pandas as pd
import matplotlib.pyplot as plt

# Import data
file_path = r"C:\Users\christy\Documents\tni\calon_tni.csv"
df = pd.read_csv(file_path)

# Urutkan data dari tinggi badan tertinggi ke terendah
df_sorted = df.sort_values(by="Tinggi_cm", ascending=False).reset_index(drop=True)

# Pilih kolom yang relevan
df_sorted = df_sorted[["Nama", "Alamat_Rumah", "Tinggi_cm"]]
df_sorted.columns = ["nama", "alamat", "tinggi"]

# Tampilkan seluruh data
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
print("=== DATA LENGKAP CALON TNI ===")
display(df)

# Statistik dasar tinggi badan
print("=== Statistik Dasar Tinggi Badan ===")
statistik = df_sorted["tinggi"].describe()
print(statistik)

# Statistik ringkasan yang lebih rapi
rata2 = df_sorted["tinggi"].mean()
maks = df_sorted["tinggi"].max()
minim = df_sorted["tinggi"].min()
median = df_sorted["tinggi"].median()

print(f"\nRata-rata tinggi : {rata2:.2f} cm")
print(f"Tertinggi        : {maks:.0f} cm")
print(f"Terendah         : {minim:.0f} cm")
print(f"Median           : {median:.1f} cm")

# Calon dengan tinggi di atas rata-rata
print("\n=== Calon di atas rata-rata tinggi ===")
rata2_tinggi = df_sorted["tinggi"].mean()
calon_di_atas_rata2 = df_sorted[df_sorted["tinggi"] > rata2_tinggi]

# Reset index biar rapi
calon_di_atas_rata2 = calon_di_atas_rata2.reset_index(drop=True)
calon_di_atas_rata2.index += 1

print(calon_di_atas_rata2.to_string())

# Urutan tinggi badan dari tertinggi ke terendah
print("\n=== Urutan dari Tertinggi ke Terendah ===")
df_sorted_display = df[["Nama", "Alamat_Rumah", "Tinggi_cm"]]
df_sorted_display.columns = ["nama", "alamat", "tinggi"]
df_sorted_display = df_sorted_display.sort_values(by="tinggi", ascending=False).reset_index(drop=True)
df_sorted_display.index += 1
print(df_sorted_display.to_string())
print("\n")

# Tambahkan kolom kategori tinggi badan
def kategori_tinggi(tinggi):
    if tinggi < 165:
        return "Pendek"
    elif 165 <= tinggi < 175:
        return "Sedang"
    else:
        return "Tinggi"

df["kategori"] = df["Tinggi_cm"].apply(kategori_tinggi)

# Data dengan kategori
print("=== Data dengan Kategori ===")
df_kategori = df[["Nama", "Alamat_Rumah", "Tinggi_cm", "kategori"]]
df_kategori.columns = ["nama", "alamat", "tinggi", "kategori"]
print(df_kategori.to_string(index=False))

# Jumlah calon per kategori
print("\n=== Jumlah Calon per Kategori ===")
kategori_count = df_kategori["kategori"].value_counts()
print(kategori_count)

# Statistik lanjutan: standar deviasi & variansi
print("\n=== Statistik Lanjutan ===")
std_dev = df_sorted["tinggi"].std()
varian = df_sorted["tinggi"].var()
print(f"Standar Deviasi : {std_dev:.2f}")
print(f"Variansi        : {varian:.2f}")

# Calon dengan tinggi badan tertinggi
print("\n=== Calon dengan Tinggi Badan Tertinggi ===")
tertinggi = df_sorted.iloc[0]
print(f"Nama   : {tertinggi['nama']}")
print(f"Alamat : {tertinggi['alamat']}")
print(f"Tinggi : {tertinggi['tinggi']} cm")

=== DATA LENGKAP CALON TNI ===

,Nomor,Nama,Jenis_Kelamin,Tanggal_Lahir,Pendidikan,Tinggi_cm,Berat_kg,Usia,Alamat_Rumah
0,1,Adam,L,4/12/2006,SMK,167,65,19,Jln. Jalan No. 12
1,2,Maulana,L,11/2/2006,SMA,175,72,19,Jln. Mawar No. 8
2,3,Kayla,P,2009-07-20,SMA,162,56,16,Jln. Gk Pasti No.4
3,4,Pedro,L,8/5/2006,S1,182,58,19,Jln. Kenanga No. 5
4,5,Zynn,L,10/9/2006,S1,170,58,19,Jln. Dahlia No. 10
5,6,Kala,P,7/10/2009,SMA,161,60,16,Jln. LDR No. 3
6,7,Riski,L,3/25/2009,SMA,160,75,16,Jln. Gondrong No. 5
7,8,Amir,L,4/19/2006,S1,175,65,19,Jln. Redemption No. 12
8,9,Egi,L,1/19/2006,S1,170,60,19,Jln. Kamboja No. 12
9,10,Lauren,P,6/15/2005,S1,163,54,20,Jln. Landak No. 12

=== Statistik Dasar Tinggi Badan ===
count     10.000000
mean     168.500000
std        7.261007
min      160.000000
25%      162.250000
50%      168.500000
75%      173.750000
max      182.000000
Name: tinggi, dtype: float64

Rata-rata tinggi : 168.50 cm
Tertinggi        : 182 cm
Terendah         : 160 cm
Median           : 168.5 cm

=== Calon di atas rata-rata tinggi ===
      nama                  alamat  tinggi
1    Pedro      Jln. Kenanga No. 5     182
2  Maulana        Jln. Mawar No. 8     175
3     Amir  Jln. Redemption No. 12     175
4      Egi     Jln. Kamboja No. 12     170
5     Zynn      Jln. Dahlia No. 10     170

=== Urutan dari Tertinggi ke Terendah ===
       nama                  alamat  tinggi
1     Pedro      Jln. Kenanga No. 5     182
2   Maulana        Jln. Mawar No. 8     175
3      Amir  Jln. Redemption No. 12     175
4       Egi     Jln. Kamboja No. 12     170
5      Zynn      Jln. Dahlia No. 10     170
6      Adam       Jln. Jalan No. 12     167
7    Lauren      Jln. Landak No. 12     163
8     Kayla      Jln. Gk Pasti No.4     162
9      Kala          Jln. LDR No. 3     161
10    Riski     Jln. Gondrong No. 5     160


=== Data dengan Kategori ===
   nama                 alamat  tinggi kategori
   Adam      Jln. Jalan No. 12     167   Sedang
Maulana       Jln. Mawar No. 8     175   Tinggi
  Kayla     Jln. Gk Pasti No.4     162   Pendek
  Pedro     Jln. Kenanga No. 5     182   Tinggi
   Zynn     Jln. Dahlia No. 10     170   Sedang
   Kala         Jln. LDR No. 3     161   Pendek
  Riski    Jln. Gondrong No. 5     160   Pendek
   Amir Jln. Redemption No. 12     175   Tinggi
    Egi    Jln. Kamboja No. 12     170   Sedang
 Lauren     Jln. Landak No. 12     163   Pendek

=== Jumlah Calon per Kategori ===
kategori
Pendek    4
Sedang    3
Tinggi    3
Name: count, dtype: int64

=== Statistik Lanjutan ===
Standar Deviasi : 7.26
Variansi        : 52.72

=== Calon dengan Tinggi Badan Tertinggi ===
Nama   : Pedro
Alamat : Jln. Kenanga No. 5
Tinggi : 182 cm